.log_text {
position: fixed; /* 要素の位置を固定する */
bottom: 0; /* 基準の位置を画面の一番下に指定する */
right: 0; /* 基準の位置を画面の一番右に指定する */
text-align: right;
cursor: pointer;
}

.log_fukidasi {
display: none;
width: 120px;
position: fixed;
right: 0;
padding: 16px;
border-radius: 5px;
background: #33cc99;
color: #fff;
font-weight: bold;
}

.log_fukidasi:after {
position: absolute;
width: 0;
height: 0;
left: 0;
bottom: -19px;
margin-left: 10px;
border: solid transparent;
border-color: rgba(51, 204, 153, 0);
border-top-color: #33cc99;
border-width: 10px;
pointer-events: none;
content: " ";
}

.log_text:hover + .log_fukidasi {
display: block;
}

.que_text {
position: fixed; /* 要素の位置を固定する */
bottom: 0; /* 基準の位置を画面の一番下に指定する */
right: 0; /* 基準の位置を画面の一番右に指定する */
margin-right: 150px;
cursor: pointer;
}
    
.que_fukidasi {
display: none;
width: 200px;
position: fixed;
right: 0; /* 基準の位置を画面の一番右に指定する */
margin-right: 150px;
padding: 16px;
border-radius: 5px;
background: #33cc99;
color: #fff;
font-weight: bold;
}

.que_fukidasi:after {
position: absolute;
width: 0;
height: 0;
left: 0;
bottom: -19px;
margin-left: 10px;
border: solid transparent;
border-color: rgba(51, 204, 153, 0);
border-top-color: #33cc99;
border-width: 10px;
pointer-events: none;
content: " ";
}

.que_text:hover + .que_fukidasi {
display: block;
}

.Text{
    text-align: center;
}




